@import url("https://fonts.googleapis.com/css2?family=Helvetica:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Times+New+Roman:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-lato: Lato;
  --font-helvetica: Helvetica;
  --font-times-new-roman: "Times New Roman";

  /* font sizes */
  --font-size-3xl: 22px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-gray: #12141b;

  /* Gaps */
  --gap-33xl: 52px;
  --gap-5xs: 8px;

  /* Border radiuses */
  --br-46xl: 65px;
  --br-13xl: 32px;
}
