.backdrop {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

.gdrop-card {
    background-color: rgba(239, 187, 138,0.8);
    border-radius: 20px;
    padding: 2rem;
    min-width: 50px;
    width: 40em;
    max-width: 40em;
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 500px;
    min-height: 50px;
}

.gdrop-card-header > img {
    width: 100%;
    /* padding-bottom: 2em; */
    border-radius: 5%;
}
::-webkit-scrollbar{
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}
.gdrop-content01{
    color: rgb(83, 32, 3);
    font-size: 1.8em;
    text-align: center;
    margin:  0.8em 0em;
}

.gdrop-content {
    color: rgb(83, 32, 3);
    font-size: 1.5em;
   
}
.gdrop-option{
    display: flex;
    justify-content: space-between;
}
.upvote {
    background: transparent;
    border: none;
    cursor: pointer;
    margin-top: 0.8em;
  }
span + .help {
    margin-left: 60%;
}
.help {
    background-color: rgb(83, 32, 3);
    color: white;
    padding: 5px 16px;
    margin-top: 0.8em;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    align-items: center;
    width: auto;
    height: 2em;
    display: inline-block;
}
.close {
    display: flex;
    justify-content: flex-end;
}
.close-btn {
    background: transparent;
    border: none;
    cursor: pointer;
}